.button {
  padding: 15px 60px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100px;
  
  display: inline-flex;
  justify-content: center;
  line-height: 1;
}

.primary {
  background: linear-gradient(135deg, var(--industrial-gold), var(--industrial-gold-dark));
  color: var(--discord-gray-dark);
}

.primary:hover {
  transform: translateY(-2px);}

.secondary {
  background-color: var(--discord-gray-light);
  color: var(--text-light);
  border: 2px solid var(--industrial-gold);
}

.secondary:hover {
  background-color: var(--industrial-gold);
  color: var(--discord-gray-dark);
}