/* Basic reset to test */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #36393f;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
}